<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.authoritymanagement.mapper.AccountRoleMapper">

    <select id="findByAccountId" resultType="com.zhu.authoritymanagement.entity.AccountRole">
        SELECT * FROM account_role WHERE account_id = #{accountId}
    </select>

    <delete id="deleteRoleAccount">
        DELETE FROM account_role WHERE account_id = #{accountId}
    </delete>

    <select id="findRolesByUsername" resultType="com.zhu.authoritymanagement.vo.RoleVO">
        SELECT r.role_id AS roleId, r.role_name AS roleName
        FROM account_role ar
                 JOIN role r ON ar.role_id = r.role_id
                 JOIN account a ON ar.account_id = a.account_id
        WHERE a.username = #{username}
    </select>

</mapper>
