<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.authoritymanagement.mapper.RoleMapper">

    <insert id="saveRole">
        INSERT INTO role (role_id, role_name, remark)
        VALUES (#{role.roleId}, #{role.roleName}, #{role.remark});

        <foreach collection="roleResources" item="roleResource" separator=";">
            INSERT INTO role_resource (role_id, resource_id)
            VALUES (#{roleResource.roleId}, #{roleResource.resourceId})
        </foreach>
    </insert>

    <update id="updateRole">
        UPDATE role
        SET role_name = #{role.roleName}, remark = #{role.remark}
        WHERE role_id = #{role.roleId};

        DELETE FROM role_resource WHERE role_id = #{role.roleId};

        <foreach collection="roleResources" item="roleResource" separator=";">
            INSERT INTO role_resource (role_id, resource_id)
            VALUES (#{roleResource.roleId}, #{roleResource.resourceId})
        </foreach>
    </update>

    <select id="listRole" resultType="com.zhu.authoritymanagement.vo.RoleVO">
        SELECT role_id AS roleId, role_name AS roleName, remark
        FROM role
    </select>

</mapper>
